In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
df=pd.read_csv('/content/PROJECT3 NIIT.zip')

In [ ]:
df

                                                      eng    Subject
0       An anti-forest measure is\nA. Afforestation\nB...    Biology
1       Among the following organic acids, the acid pr...  Chemistry
2       If the area of two similar triangles are equal...      Maths
3       In recent year, there has been a growing\nconc...    Biology
4       Which of the following statement\nregarding tr...    Physics
...                                                   ...        ...
122514  Which of the following group of\ncharacters is...    Biology
122515  Light year is the\nA. light emitted by the sun...    Physics
122516  Member of Dipnoi are native of\nA. India.\nB. ...    Biology
122517  In one average-life,\nA. half the active nucle...    Physics
122518  State whether true or false.\nA magnetic field...    Physics

[122519 rows x 2 columns]

In [ ]:
df['eng'][122516]

'Member of Dipnoi are native of\nA. India.\nB. Africa and Australia.\nc. New Zealand\nD. None of the above'

In [ ]:
df["Subject"].value_counts()

Physics      38438
Chemistry    37767
Maths        33190
Biology      13124
Name: Subject, dtype: int64

In [ ]:
import re

In [ ]:
def clean_text(text):
    text = text.lower()
    
    pattern = re.compile('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+')
    text = pattern.sub('', text)
    text = " ".join(filter(lambda x:x[0]!='@', text.split())) 
    text = re.sub(r"i'm", "i am", text)
    text = re.sub(r"he's", "he is", text)
    text = re.sub(r"she's", "she is", text)
    text = re.sub(r"that's", "that is", text)        
    text = re.sub(r"what's", "what is", text)
    text = re.sub(r"where's", "where is", text) 
    text = re.sub(r"\'ll", " will", text)  
    text = re.sub(r"\'ve", " have", text)  
    text = re.sub(r"\'re", " are", text)
    text = re.sub(r"\'d", " would", text)
    text = re.sub(r"\'ve", " have", text)
    text = re.sub(r"won't", "will not", text)
    text = re.sub(r"don't", "do not", text)
    text = re.sub(r"did't", "did not", text)
    text = re.sub(r"can't", "can not", text)
    text = re.sub(r"it's", "it is", text)
    text = re.sub(r"couldn't", "could not", text)
    text = re.sub(r"have't", "have not", text)
    text = re.sub(r"[,.\"\'!@#$%^&*(){}?/;`~:<>+=-]", "", text)
    #text=text.replace('a','')
    #text=text.replace('b','')
    #text=text.replace('c','')
    #text=text.replace('d','')
    text=text.replace('none of the above','')
    return text

df['eng']=df['eng'].apply(clean_text)

In [ ]:
df

                                                      eng    Subject
0       an antiforest measure is a afforestation b sel...    Biology
1       among the following organic acids the acid pre...  Chemistry
2       if the area of two similar triangles are equal...      Maths
3       in recent year there has been a growing concer...    Biology
4       which of the following statement regarding tra...    Physics
...                                                   ...        ...
122514  which of the following group of characters is ...    Biology
122515  light year is the a light emitted by the sun i...    Physics
122516  member of dipnoi are native of a india b afric...    Biology
122517  in one averagelife a half the active nuclei de...    Physics
122518  state whether true or false a magnetic field i...    Physics

[122519 rows x 2 columns]

In [ ]:
df['eng'][122516]

'member of dipnoi are native of a india b africa and australia c new zealand d '

In [ ]:
import nltk
nltk.download('punkt') 
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
test_split = 0.2
max_length = 25

In [ ]:
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [ ]:
from tensorflow.python.keras.preprocessing.text import Tokenizer
from tensorflow.python.keras.preprocessing.sequence import pad_sequences

In [ ]:
df

                                                      eng    Subject
0       an antiforest measure is a afforestation b sel...    Biology
1       among the following organic acids the acid pre...  Chemistry
2       if the area of two similar triangles are equal...      Maths
3       in recent year there has been a growing concer...    Biology
4       which of the following statement regarding tra...    Physics
...                                                   ...        ...
122514  which of the following group of characters is ...    Biology
122515  light year is the a light emitted by the sun i...    Physics
122516  member of dipnoi are native of a india b afric...    Biology
122517  in one averagelife a half the active nuclei de...    Physics
122518  state whether true or false a magnetic field i...    Physics

[122519 rows x 2 columns]

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [ ]:
df['Subject']=le.fit_transform(df['Subject'])

In [ ]:
df

                                                      eng  Subject
0       an antiforest measure is a afforestation b sel...        0
1       among the following organic acids the acid pre...        1
2       if the area of two similar triangles are equal...        2
3       in recent year there has been a growing concer...        0
4       which of the following statement regarding tra...        3
...                                                   ...      ...
122514  which of the following group of characters is ...        0
122515  light year is the a light emitted by the sun i...        3
122516  member of dipnoi are native of a india b afric...        0
122517  in one averagelife a half the active nuclei de...        3
122518  state whether true or false a magnetic field i...        3

[122519 rows x 2 columns]

In [ ]:
max_length = 25

In [ ]:
def CleanTokenize(df):
    req_lines = list()
    lines = df["eng"].values.tolist()

    for line in lines:
        
        # tokenize the text
        #tokens=biobert.tokens(line)
        tokens = word_tokenize(line)
        tokens = [w.lower() for w in tokens]
        # remove puntuations
        table = str.maketrans('', '', string.punctuation)
        stripped = [w.translate(table) for w in tokens]
        # remove non alphabetic characters
        words = [word for word in stripped if word.isalpha()]
        stop_words = set(stopwords.words("english"))
        # remove stop words
        stop_words.discard('not') 
        words = [w for w in words if not w in stop_words]
        req_lines.append(words)    
    return req_lines

req_lines = CleanTokenize(df)
req_lines[0]

['antiforest',
 'measure',
 'afforestation',
 'b',
 'selective',
 'grazing',
 'c',
 'clearing',
 'forest',
 'selective',
 'felling']

In [ ]:
tokenizer_obj = Tokenizer()
tokenizer_obj.fit_on_texts(req_lines)
sequences = tokenizer_obj.texts_to_sequences(req_lines)

word_index = tokenizer_obj.word_index
print("unique tokens - "+str(len(word_index)))
vocab_size = len(tokenizer_obj.word_index) + 1
print('vocab_size - '+str(vocab_size)) 

lines_pad = pad_sequences(sequences, maxlen=max_length, padding='post')
category =  df['Subject'].values

unique tokens - 56426
vocab_size - 56427

In [ ]:
category

array([0, 1, 2, ..., 0, 3, 3])

In [ ]:
indices = np.arange(lines_pad.shape[0])
np.random.shuffle(indices)
lines_pad = lines_pad[indices]
category = category[indices]

In [ ]:
n_values = np.max(category)+1
Y = np.eye(n_values)[category]

num_test_samples = int(test_split * lines_pad.shape[0])

In [ ]:
num_test_samples

24503

In [ ]:
X_train_pad = lines_pad[:-num_test_samples]
y_train = Y[:-num_test_samples]
X_test_pad = lines_pad[-num_test_samples:]
y_test = Y[-num_test_samples:]

In [ ]:
print('Shape of X_train_pad:', X_train_pad.shape)
print('Shape of y_train:', y_train.shape)

print('Shape of X_test_pad:', X_test_pad.shape)
print('Shape of y_test:', y_test.shape)

Shape of X_train_pad: (98016, 25)
Shape of y_train: (98016, 4)
Shape of X_test_pad: (24503, 25)
Shape of y_test: (24503, 4)

In [ ]:
!wget -P /root/input/ -c "https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz"

--2021-06-15 06:22:36--  https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.109.150
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.109.150|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1647046227 (1.5G) [application/x-gzip]
Saving to: ‘/root/input/GoogleNews-vectors-negative300.bin.gz’

GoogleNews-vectors- 100%[===================>]   1.53G  88.8MB/s    in 20s

2021-06-15 06:22:56 (76.8 MB/s) - ‘/root/input/GoogleNews-vectors-negative300.bin.gz’ saved [1647046227/1647046227]

In [ ]:
from gensim.models import KeyedVectors
EMBEDDING_FILE = '/root/input/GoogleNews-vectors-negative300.bin.gz' 
word2vec_model = KeyedVectors.load_word2vec_format(EMBEDDING_FILE, binary=True)

In [ ]:
embedding_dim = 300
embedding_matrix = np.zeros((len(word_index) + 1, embedding_dim))
for word, i in word_index.items():
    if word in word2vec_model: 
        embedding_vector = word2vec_model[word]
        embedding_matrix[i] = embedding_vector

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Embedding,LSTM
from keras.layers.embeddings import Embedding

In [ ]:
embedding_layer = Embedding(len(word_index) + 1,
                            embedding_dim,
                            weights=[embedding_matrix],
                            input_length=max_length,
                            trainable=False)

In [ ]:
pd.DataFrame(embedding_matrix)

            0         1         2    ...       297       298       299
0      0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
1     -0.208008  0.034180  0.025757  ...  0.095703 -0.046875  0.237305
2     -0.203125  0.053223  0.109375  ... -0.020508 -0.037842  0.287109
3      0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
4     -0.079102 -0.181641  0.109375  ... -0.040771 -0.094727  0.000049
...         ...       ...       ...  ...       ...       ...       ...
56422  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
56423  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
56424  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
56425  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
56426  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000

[56427 rows x 300 columns]

In [ ]:
rnn_word2vec = Sequential()
rnn_word2vec.add(embedding_layer)
rnn_word2vec.add(LSTM(units=64,  dropout=0.1, recurrent_dropout=0.1))

rnn_word2vec.add(Dense(4, activation='softmax'))

rnn_word2vec.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
print(rnn_word2vec.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 25, 300)           16928100
_________________________________________________________________
lstm (LSTM)                  (None, 64)                93440
_________________________________________________________________
dense (Dense)                (None, 4)                 260
=================================================================
Total params: 17,021,800
Trainable params: 93,700
Non-trainable params: 16,928,100
_________________________________________________________________
None

In [ ]:
print(X_train_pad.shape)
print(y_train.shape)

(98016, 25)
(98016, 4)

In [ ]:
print(X_test_pad.shape)
print(y_test.shape)

(24503, 25)
(24503, 4)

In [ ]:
rnn_word2vec.fit(X_train_pad, y_train, batch_size=100, epochs=5, validation_data=(X_test_pad, y_test))

Epoch 1/5
981/981 [==============================] - 126s 102ms/step - loss: 0.6058 - accuracy: 0.7644 - val_loss: 0.3343 - val_accuracy: 0.8754
Epoch 2/5
981/981 [==============================] - 98s 100ms/step - loss: 0.3352 - accuracy: 0.8782 - val_loss: 0.2898 - val_accuracy: 0.8910
Epoch 3/5
981/981 [==============================] - 99s 101ms/step - loss: 0.2930 - accuracy: 0.8929 - val_loss: 0.2716 - val_accuracy: 0.8983
Epoch 4/5
981/981 [==============================] - 99s 101ms/step - loss: 0.2657 - accuracy: 0.9016 - val_loss: 0.2554 - val_accuracy: 0.9030
Epoch 5/5
981/981 [==============================] - 97s 99ms/step - loss: 0.2392 - accuracy: 0.9101 - val_loss: 0.2567 - val_accuracy: 0.9014